<div class="topbar"></div>
<div class="nav-display-wrapper">
    <div class="nav">
        <h1><a routerLink="/product" routerLinkActive="activeLink">Produkt</a></h1>
        <h1><a routerLink="/demo" routerLinkActive="activeLink">Demo</a></h1>
        <h1><a routerLink="/about" routerLinkActive="activeLink">Über uns</a></h1>
    </div>
    <div class="component-display">
        <router-outlet></router-outlet>
    </div>
</div>
<footer>
    "Firmenname"
    <br>
    Ruven Witzig, Liam Theiler
    <br>
    <!--Firmemail erstelle-->
     ruven.witzig@gmail.com, liam.theiler@gmail.com
</footer>
